.header1{
	display: flex;
	align-content:space-between;
	align-items: center;
	background-color:#3A6B8D ;
	color: white;
	padding: 5px;
}
.header1 h1{
	color: white;
	padding: 2px;
	margin-left: 30px;
	font-family: 'Righteous', cursive;
}
.header1 .social{
	display: flex;
	margin-left: 300px;
	align-content: center;
}
.header1 .social p{
	margin-right: 50px;
}

.content{
	display: grid;
	grid-template-columns: 1fr 10fr;
}
.content .list{
	list-style-type: none;
	margin-left: -500px;
}
.content .list ul{
	text-align:center;
}
.content .list ul li{
	list-style: none;
}
.book-content{
	margin: 5px;
	margin-left:-120px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.product-content{
	margin-top: 50px;
	margin-left:-120px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.book-img{
	width: 200px;
}
.book-details{
	text-align: left;
}
.order{
	text-align: center;
	margin:auto;
}
.orderButton{
	background-color:#3A6B8D;		
}
.book{
	text-align: left;
}

.book-card{
	max-width: 300px;
	margin-right: 20px;
	
}
.footer{
	display: grid !important;
	background-color:#3A6B8D ;
	color: white;
	padding: 50px;
	grid-template-columns: 2fr 1fr 1fr;
}
.footer h3{
	color: white;
}
.footer h4{
	color: white;
}
.footer .contact ul{
	list-style: none;
}
.footer .contact ul li{
	display: block;
	list-style-type: none;
}
.footer .quick-links ul{
	list-style: none;
}
.footer .quick-links ul li{
	display: block;
	list-style-type: none;
}
