.header1{
	display: flex;
	align-content:space-between;
	align-items: center;
	background-color:#3A6B8D ;
	color: white;
	padding: 5px;
}
.header2{
	background-color: #74A5C6;
	padding-top: 2px;
	display: flex;
 	margin: auto;
 }

.buttons{
	margin: auto !important;
	display: flex;
}

.buttons p{
text-align: center;
align-content: center;
align-items: center;
color: #fff;
}

.buttons button{
	border:none;
	margin-left: 5px !important;
	border-radius: 10px !important;
	padding: 2px;
	width: 76px;
	height: 30px;
}
.btn-login{
	background: #1F60F0; 
	color: #eee;
}
.btn-register{
	background-color: #45BD18;
	color: #eee;
}

.buttons button:hover{
	background: #111; 
	color: #fff;
}
.book-card{
	padding: 2px;
}

.book-card:hover{
	box-shadow: 0 0 2px 0px;
}

.book-data .view{
width: 100px;
border:none;
background-color:#74A5C6;
color: #fff;
align-content: center;
}
.book-data .view:hover{
	background-color:#3A6B8D;
}

.book-data p{
	margin: 0;
	text-align: left;
	padding-left: 5px;
}


.header1 h1{
	color: white;
	padding: 2px;
	margin-left: 30px;
	font-family: 'Righteous', cursive;
}

.header1{
	display: grid;
	grid-template-columns: 2fr 1fr 4fr;
}
.header2 .social{
	color: #fff;
	display: flex;
	margin-left: 300px;
	align-content: center;
}
.header2 .social p{
	margin-right: 50px;
}
.header1 .search{
	width: 100%;
	display: flex;
}
.header1 .search .keyword{
	width: 60%;
	border:none;
	outline: none;
	border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}
.header1 .search .src-btn{
	margin-left: 5px;
	width: 10%;
	border:none;
	border-radius: 10px;
	background-color: #1BD7AA;
	color:#000;
	transition-delay: all 0.2s;
}
.header1 .search .src-btn:hover{
	background-color: #14B28E;
}

.ccontent{
	display: grid;
	margin: 0;
	grid-template-columns: 1fr 5fr;
}

@media (min-width: 768px)
.content {
    margin-left: 0px;
}
.ccontent ul li{
	list-style-type: none;
}

.book-content{
	margin: 5px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.product-content{
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.book-img{
	width: 200px;
}
.book-details{
	text-align: left;
}
.order{
	text-align: center;
	margin:auto;
}
.orderButton{
	background-color:#3A6B8D;		
}
.book{
	text-align: left;
}

.book-card{
	max-width: 300px;
	margin-right: 20px;
	padding-bottom: 20px;
}
.footer{
	display: grid !important;
	background-color:#3A6B8D ;
	color: white;
	padding: 50px;
	grid-template-columns: 2fr 1fr 1fr;
}
.footer h3{
	color: white;
}
.footer h4{
	color: white;
}
.footer .contact ul{
	list-style: none;
}
.footer .contact ul li{
	display: block;
	list-style-type: none;
}
.footer .quick-links ul{
	list-style: none;
}
.footer .quick-links ul li{
	display: block;
	list-style-type: none;
}
.list ul li{
	cursor:pointer;
	text-align: center;
}
.list ul li:hover{
	font-size: 1.1rem;
}

.list ul .cat{
	font-size: 1.2rem;
	font-weight: bold;
}

.sell-content{
	margin: 5px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn:first-child:hover{
	display: block;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content grid-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content grid-item:hover {
  background-color: #ddd;
}


.grid-container {
list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  margin: 5px 30px;
  font-size: 1rem;
  text-align: center;
}

a{
  text-decoration: none;
}